{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block headerimg %}{{ DEFAUT_HEADER_BG }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <article class="archives-page">
        <header class="mb-5">
          <h1>Archives and Tags</h1>
          
          {% if tags %}
          <div class="tags-cloud mt-4">
            {% for tag, articles in tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }} ({{ articles | length }})</a>
            {% endfor %}
          </div>
          {% endif %}
        </header>

        <div class="archives-content">
          <ul class="archives-list">
            {% for article in articles %}
              <li class="d-flex justify-content-between align-items-center">
                <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                <time>{{ article.date.strftime('%d.%m.%Y') }}</time>
              </li>
            {% endfor %}
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}