{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block headerimg %}{% if article.headerimg %}{{ article.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block extra_head %}
{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <article class="post">
        <header class="article-header">
          <h1>{{ article.title }}</h1>
          <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </header>

        <div class="article-content">
          {{ article.content }}
        </div>

        <div class="article-meta">
          {% if article.tags %}
            <div class="tags-section">
              <h5>Tags:</h5>
              <div class="tags-container">
                {% for tag in article.tags %}
                  <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          
          <div class="back-button-container">
            <a href="{{ SITEURL }}" class="back-to-posts">
              <i class="fa fa-arrow-left"></i> Back to Posts
            </a>
          </div>
        </div>
      </article>

      {% include '_includes/disqus_thread.html' %}
    </div>
  </div>
</div>

<style type="text/css">
{% include 'ipynb.css' %}
</style>
{% endblock %}